.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home__open-filter {
    font-size: 30px;
    cursor: pointer;
    color: #64676e;
}

.home__open-filter:hover {
    color: #2b8eb2;
}
