.film-search-result {
    max-width: 1060px;
    height: 100%;
    margin-top: 50px;
}

.film-search-result__content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.film-search-result__card-container {
    margin-right: 16px;
    margin-bottom: 20px;
}
